.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  width: 400px;
  margin: 20px auto;
}

li {
  text-align: left;
  border-bottom: 1px solid #dddddd;
  padding: 1px;
  cursor: pointer;
  min-width: 250px;
}

li:hover:after {
  content: '\02A2F';
  color: red;
  font-size: 18px;
  float: right;
  margin-right: 5px;
}

li span:after {
  content: '\025A1';
  font-size: 28px;
  padding: 4px;
}

